@font-face{
    src: url(../assets/fonts/Aldrich-Regular.ttf);
    font-family: Aldritch;
    color: --color;
}

@font-face{
    src: url(../assets/fonts/Goldman-Bold.ttf);
    font-family: GoldBold;
}

@font-face{
    src: url(../assets/fonts/Goldman-Regular.ttf);
    font-family: GoldReg;
}

body {
  margin: 0;
  background-image: url("../assets/general/background.png");
  background-repeat: no-repeat;
  background-color: rgba(59, 58, 58, 0.65);
  background-blend-mode: color-burn;    
  background-attachment: fixed;
  background-size: cover;
}

.navigation{
  overflow: hidden;
  background-color: rgb(0, 29, 41);
  margin: 0px;
  width: 100%;
}

.navigation a {
  float: left;
  color: rgb(225, 225, 225);
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 20px;
  font-family: GoldBold, Arial, sans-serif;
}

.navigation a:hover {
  background-color: rgb(61, 92, 103);
  color: black;
}

.navigation a.active {
  background-color: rgb(61, 92, 103);
  color: black;
}

.commsIntro1{
    font-family: GoldBold, Arial, sans-serif;
    float: left;
    color: rgb(225, 225, 225);
    margin: 0.75%;
    text-decoration: none;
    font-size: 30px;
}

.commsIntro2{
    display:grid;
    place-items: center;
    width: 70%;
    margin: auto;
    border: 3px solid rgb(2, 65, 92);
    font-family: Aldritch, Arial, sans-serif;
    color: rgb(225, 225, 225);
    text-align: center;
    background-color: rgb(0, 29, 41);
}

.mail{
    position: fixed;
    overflow: hidden;
    text-align: center;
    padding-left: 10%;
}

.mail img{
    scale: 25%;
    vertical-align: middle;
    margin-top: -5%;
}

.mail p{
    color: white;
    font-size: 20px;
    font-family: Aldritch, Arial, sans-serif;
}

.linkedin{
    position: fixed;
    overflow: hidden;
    text-align: center;
    padding-left: 50%;
}

.linkedin img{
    scale: 25%;
    vertical-align: middle;
    margin-top: -20%;
}

.linkedin p{
    color: white;
    font-size: 20px;
    font-family: Aldritch, Arial, sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(0, 29, 41);
  font-family: Aldritch, Arial, sans-serif;
}