@font-face{
    src: url(../assets/fonts/Aldrich-Regular.ttf);
    font-family: Aldritch;
    color: --color;
}

@font-face{
    src: url(../assets/fonts/Goldman-Bold.ttf);
    font-family: GoldBold;
}

@font-face{
    src: url(../assets/fonts/Goldman-Regular.ttf);
    font-family: GoldReg;
}

body {
  margin: 0;
  background-image: url("../assets/general/background.png");
  background-repeat: no-repeat;
  background-color: rgba(59, 58, 58, 0.65);
  background-blend-mode: color-burn;    
  background-attachment: fixed;
  background-size: cover;
}

#introduction{
  font-family: GoldBold, Arial, sans-serif;
  font-size: 30px;
  color: rgb(225, 225, 225);
  margin: 0.75%;
}

#aboutMe{
  font-family: Aldritch, Arial, sans-serif;
  font-size: 25px;
  color: rgb(225, 225, 225);
  margin: 0.75%;
}

#meImg{
  position: absolute;
  bottom: 10%;
  left: 68%;
  scale: 50%;
  border: 15px solid #0d6191;
}

.navigation{
  overflow: hidden;
  background-color: rgb(0, 29, 41);
  margin: 0px;
}

.navigation a {
  float: left;
  color: rgb(225, 225, 225);
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 20px;
}

.navigation a:hover {
  background-color: rgb(61, 92, 103);
  color: black;
}

.navigation a.active {
  background-color: rgb(61, 92, 103);
  color: black;
}

.aboutWebsite {
  position: fixed;
  scale: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 100ms ease-out;
  background-image: repeating-linear-gradient(to left, rgb(255, 196, 0), rgb(255, 213, 5));
  z-index: 10;
}

.aboutWebsite.active {
  scale: 1;
}

.aboutWebsite h1{
  margin: 0px;
  text-align: center;
  padding: 5px, 5px;
}

.aboutWebsite p{
  text-align: center;
  padding: 20px 25px;
  font-size: 18px;
}

.aboutWebsite ul{
  font-size: 18px;
}

.overlay {
  position: fixed;
  transition: 100ms ease-out;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 38, 38);
  pointer-events: none;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

.openAbout {
  position: absolute;
  right: 0%;
  left: 85%;
  bottom: 8%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  scale: 15%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(0, 29, 41);
}