@font-face{
    src: url(/Assets/Fonts/Aldrich-Regular.ttf);
    font-family: Aldritch;
    color: --color;
}

@font-face{
    src: url(/Assets/Fonts/Goldman-Bold.ttf);
    font-family: GoldBold;
}

@font-face{
    src: url(/Assets/Fonts/Goldman-Regular.ttf);
    font-family: GoldReg;
}

h1{
    font-family: GoldBold, Arial, sans-serif;
    padding-left: p;
}

p{
    font-family: Aldritch, Arial, sans-serif;
}

body {
    background-color: gray;
}