@font-face{
    src: url(../assets/fonts/Aldrich-Regular.ttf);
    font-family: Aldritch;
    color: --color;
}

@font-face{
    src: url(../assets/fonts/Goldman-Bold.ttf);
    font-family: GoldBold;
}

@font-face{
    src: url(../assets/fonts/Goldman-Regular.ttf);
    font-family: GoldReg;
}

body {
  margin: 0;
  background-image: url("../assets/general/background.png");
  background-repeat: no-repeat;
  background-color: rgba(59, 58, 58, 0.65);
  background-blend-mode: color-burn;    
  background-attachment: fixed;
  background-size: cover;
}

.navigation{
  overflow: hidden;
  background-color: rgb(0, 29, 41);
  margin: 0px;
  width: 100%;
}

.navigation a {
  float: left;
  color: rgb(225, 225, 225);
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 20px;
  font-family: GoldBold, Arial, sans-serif;
}

.navigation a:hover {
  background-color: rgb(61, 92, 103);
  color: black;
}

.navigation a.active {
  background-color: rgb(61, 92, 103);
  color: black;
}

.intro1{
  color: rgb(225, 225, 225);
  font-family: GoldBold, Arial, sans-serif;
  font-size: 30px;
  margin: 0.75%;

}

.intro2{
  font-family: Aldritch, Arial, sans-serif;
  font-size: 30px;
  color: rgb(225, 225, 225);
  margin: 0.75%;
}

.gameInfo{
  position: fixed;
  scale: 0;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: 100ms ease-out;
  background-image: repeating-linear-gradient(to left, rgb(100, 98, 98), rgb(85, 85, 85));
  z-index: 10;
  overflow: auto;
  scrollbar-width: thin;
}

.gameInfoPics {
  position: relative;
  max-width: 100%;
  max-height: 50%

}

.gameInfoPic{
  object-fit: cover;
  width: 100%;
}

.gameInfo.active {
  scale: 1;
}

.gameInfo h1{
  text-align: center;
  font-family: GoldBold, Arial, sans-serif;
  color: white;
}

.gameInfo p{
  text-align: left;
  padding: 20px 25px;
  font-size: 18px;
  font-family: Aldritch, Arial, sans-serif;
  color: white;
}

.gameInfo ul{
  font-size: 18px;
  color: white;
  font-family: Aldritch, Arial, sans-serif;
}

.overlay {
  position: fixed;
  transition: 100ms ease-out;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 38, 38);
  pointer-events: none;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

.open {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%; 
  margin-left: 20%;
  margin-right: auto;
  margin-bottom: 5%;
}

.open img{
  object-fit: cover;
}

.open .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  padding: 20px;
}

.open h1{
  font-family: GoldBold, Arial, sans-serif;
}

.open p{
  font-family: Aldritch, Arial, sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.prevCon, .nextCon{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 29, 41, 50%);
}

.nextCon {
  right: 0;
}

.nextCon:hover, .prevCon:hover{
  cursor: pointer;
  background-color: rgba(0, 29, 41, 80%)
}

#rPic, #bPic {
  max-height: auto;
  max-width: auto;
  object-fit: contain;
}

.gameLink {
  position: relative;
  overflow: hidden;
  max-width: 50%; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: 2%;
  text-align: center;
  padding: 0.5%;
  font-family: Aldritch, Arial, sans-serif;
  font-size: 25px;
  color: white;
  background-color: rgb(0, 29, 41);
  text-decoration: none;
}

.gameLink a{
  color: white;
  text-decoration: none;
}

.gameLink a:hover{
  color: black;
  background-color: rgb(5, 111, 168);
  text-decoration: none;
}

.gameInfoCodePics p{
  text-align: center;
  font-family: Aldritch, Arial, sans-serif;
}

.gameInfoCodePics img{
  text-align: center;
  max-width: 70%;
  margin-left: 15%;
  margin-right: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(0, 29, 41);
  font-family: Aldritch, Arial, sans-serif;
}