@font-face{
    src: url(../assets/fonts/Aldrich-Regular.ttf);
    font-family: Aldritch;
    color: --color;
}

@font-face{
    src: url(../assets/fonts/Goldman-Bold.ttf);
    font-family: GoldBold;
}

@font-face{
    src: url(../assets/fonts/Goldman-Regular.ttf);
    font-family: GoldReg;
}

body {
  margin: 0;
  background-image: url("../assets/general/background.png");
  background-repeat: no-repeat;
  background-color: rgba(59, 58, 58, 0.65);
  background-blend-mode: color-burn;    
  background-attachment: fixed;
  background-size: cover;
}

.navigation{
  overflow: hidden;
  background-color: rgb(0, 29, 41);
  margin: 0px;
  width: 100%;
}

.navigation a {
  float: left;
  color: rgb(225, 225, 225);
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 20px;
  font-family: GoldBold, Arial, sans-serif;
}

.navigation a:hover {
  background-color: rgb(61, 92, 103);
  color: black;
}

.navigation a.active {
  background-color: rgb(61, 92, 103);
  color: black;
}

.intro1{
  color: rgb(225, 225, 225);
  font-family: GoldBold, Arial, sans-serif;
  font-size: 30px;
  margin: 0.75%;
}

.intro2{
  font-family: Aldritch, Arial, sans-serif;
  font-size: 30px;
  color: rgb(225, 225, 225);
  margin: 0.75%;
}

.mythicalDateline{
    position: fixed;
    scale: 0;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 90%;
    transform: translate(-50%, -50%);
    transition: 100ms ease-out;
    background-image: repeating-linear-gradient(to left, rgb(255, 196, 0), rgb(255, 213, 5));
    z-index: 10;
}

.mythicalDateline.active {
  scale: 1;
}

.mythicalDateline h1{
  margin: 0px;
  text-align: center;
  padding: 5px, 5px;
}

.mythicalDateline p{
  text-align: center;
  padding: 20px 25px;
  font-size: 18px;
}

.mythicalDateline ul{
  font-size: 18px;
}

.overlay {
  position: fixed;
  transition: 100ms ease-out;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 38, 38);
  pointer-events: none;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

.open {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%; 
  margin-left: 20%;
  margin-right: auto;
  margin-bottom: 2%;

}

.open img{
  object-fit: cover;
}

.open .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  padding: 20px;
}

.open h1{
  font-family: GoldBold, Arial, sans-serif;
}

.open p{
  font-family: Aldritch, Arial, sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(0, 29, 41);
  font-family: Aldritch, Arial, sans-serif;
}