@font-face{
    src: url(../assets/fonts/Aldrich-Regular.ttf);
    font-family: Aldritch;
    color: --color;
}

@font-face{
    src: url(../assets/fonts/Goldman-Bold.ttf);
    font-family: GoldBold;
}

@font-face{
    src: url(../assets/fonts/Goldman-Regular.ttf);
    font-family: GoldReg;
}

body {
  margin: 0;
  background-image: url("../assets/general/background.png");
  background-repeat: no-repeat;
  background-color: rgba(59, 58, 58, 0.65);
  background-blend-mode: color-burn;    
  background-attachment: fixed;
  background-size: cover;
}

.intro {
  font-family: GoldBold, Arial, sans-serif;
  color: rgb(225, 225, 225);
  margin: 0.75%;
  font-size: 30px;
}

.navigation{
  overflow: hidden;
  background-color: rgb(0, 29, 41);
  margin: 0px;
  width: 100%;
}

.navigation a {
  float: left;
  color: rgb(225, 225, 225);
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 20px;
  font-family: GoldBold, Arial, sans-serif;
}

.navigation a:hover {
  background-color: rgb(61, 92, 103);
  color: black;
}

.navigation a.active {
  background-color: rgb(61, 92, 103);
  color: black;
}

.resumePages {
  position: relative;
  display: flex;
  text-align: center;
}

.resumeInfo1 {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.resumeInfo2 {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(0, 29, 41);
  font-family: Aldritch, Arial, sans-serif;
}